In [100]:
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
df = pd.read_csv("C:/pythonprojects/calculas_neural_network/datas/house_prices_train.csv")
X=df[['GrLivArea', 'OverallQual']]  #here we are selecting the ground living area  and overall quality based on which we are making the salesprice prediction

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns]

In [104]:
Y=df['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64