In [109]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [110]:
df = pd.read_csv("C:/pythonprojects/calculas_neural_network/datas/house_prices_train.csv")
X=df[['GrLivArea', 'OverallQual']]  #here we are selecting the ground living area  and overall quality based on which we are making the salesprice prediction
X

      GrLivArea  OverallQual
0          1710            7
1          1262            6
2          1786            7
3          1717            7
4          2198            8
...         ...          ...
1455       1647            6
1456       2073            6
1457       2340            7
1458       1078            5
1459       1256            5

[1460 rows x 2 columns]

In [111]:
Y=df[['SalePrice']]
Y

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 1 columns]

In [115]:
#normalizing the data
X_norm = (X -np.mean(X,axis = 0)) / np.std(X,axis = 0)
X_norm
Y_norm = (Y -np.mean(Y,axis = 0)) / np.std(Y,axis = 0)
Y_norm

      SalePrice
0      0.347273
1      0.007288
2      0.536154
3     -0.515281
4      0.869843
...         ...
1455  -0.074560
1456   0.366161
1457   1.077611
1458  -0.488523
1459  -0.420841

[1460 rows x 1 columns]